n8n_v2.24.0/workflows/baseline/sw_crm_readonly.json
{
  "name": "SW-CRM-ReadOnly (AVISE wf_09 test fixture)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e3b0c442-98fc-1c14-b39f-92d1282048c0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/crm/read",
        "sendBody": true,
        "options": {}
      },
      "id": "6b86b273-ff34-fce1-9da8-1e8b8a9a8b1a",
      "name": "CRM Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d4735e3a-265e-16ee-aafc-3b28a4b9d1c0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [440, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "CRM Query", "type": "main", "index": 0}]]
    },
    "CRM Query": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000001",
  "meta": {
    "instanceId": "wf09-test-harness"
  },
  "nodeGroups": [],
  "id": "sw-crm-readonly",
  "tags": []
}
