n8n_v2.24.0/workflows/baseline/sw_finance_admin.json
{
  "name": "SW-Finance-Admin (AVISE wf_09 test fixture)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f1c2d3e4-5678-90ab-cdef-1234567890ab",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/finance/admin",
        "sendBody": true,
        "options": {}
      },
      "id": "a2b3c4d5-e678-90ab-cdef-234567890abc",
      "name": "Finance Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b3c4d5e6-f789-0abc-def1-34567890abcd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [440, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Finance Query", "type": "main", "index": 0}]]
    },
    "Finance Query": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "b2c3d4e5-0000-0000-0000-000000000002",
  "meta": {
    "instanceId": "wf09-test-harness"
  },
  "nodeGroups": [],
  "id": "sw-finance-admin",
  "tags": []
}
